test/deployment/
test\.classpath
test/.project
test/*.lock
test/*.launch

!test/
test/*
!test/javasource/
test/javasource/*
!test/javasource/myfirstmodule/
test/javasource/myfirstmodule/*
!test/javasource/myfirstmodule/actions

.vscode/

out/
nbproject/
node_modules/
*.bak
*.map
*.tmp

src/TimeSeriesChart/widget/TimeSeriesChart.js
src/TimeSeriesChart/widget/components/Wrapper.js

